In [1]:
import pandas as pd
import numpy as np

In [2]:
import sys
import csv
import glob

# get data file names
path =r'C:/Users/o38528/Desktop/PromotionalROI/Ozan/Archive/'
filenames = glob.glob(path + "\*.xlsx")

In [3]:
filenames

['C:/Users/o38528/Desktop/PromotionalROI/Ozan/Archive\\Fanta Masters.xlsx']

In [4]:
df = pd.DataFrame()

In [5]:
for f in filenames:
    data = pd.read_excel(f)
    df = df.append(data, sort=False)

In [6]:
df1=df

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39541 entries, 0 to 39540
Data columns (total 12 columns):
CreateTimeUTC        39541 non-null datetime64[ns]
PinCode              39536 non-null object
ReleaseName          20719 non-null object
LotName              20719 non-null object
Result               39541 non-null int64
ResponseCode         39517 non-null object
RequestType          39541 non-null object
PinCode.1            20655 non-null object
CreateDateTimeUTC    20655 non-null datetime64[ns]
CountryCode          20655 non-null object
BirthDay             20655 non-null datetime64[ns]
City                 20655 non-null object
dtypes: datetime64[ns](3), int64(1), object(8)
memory usage: 3.6+ MB

In [8]:
df1=df.fillna("Unknown")

In [9]:
df2=df1

In [10]:
df2.tail()

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City
39536,2017-04-23 09:55:22,76KFhe,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,Unknown,Unknown
39537,2017-06-18 21:24:18,BSileg,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,Unknown,Unknown
39538,2017-03-26 20:02:04,mW4bq1,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,Unknown,Unknown
39539,2017-05-23 18:20:38,t7wLSd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,Unknown,Unknown
39540,2017-05-12 15:05:10,ZefvYr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,Unknown,Unknown

In [11]:
df2.BirthDay = df2.BirthDay.replace({"Unknown": ""})

In [12]:
df2['BirthDay'] = pd.to_datetime(df2['BirthDay'])

In [13]:
df2['year'], df2['month'] = df2['BirthDay'].dt.year, df2['BirthDay'].dt.month

In [14]:
import datetime as DT
now = pd.Timestamp(DT.datetime.now())
df2['BirthDay'] = pd.to_datetime(df2['BirthDay'], format='%m%d%y')    # 1
df2['BirthDay'] = df2['BirthDay'].where(df2['BirthDay'] < now, df2['BirthDay'] -  np.timedelta64(100, 'Y'))   # 2
df2['age'] = (now - df2['BirthDay']).astype('<m8[Y]')    # 3

In [15]:
print(df2)

            CreateTimeUTC PinCode      ReleaseName       LotName  Result  \
0     2017-03-19 10:18:39  18BkEg  LBN_Can185_Meal  Can185_Crown       1
1     2017-03-21 16:54:11  9fhYPN  LBN_Can185_Meal  Can185_Crown       1
2     2017-03-21 19:19:09  8ySRvA  LBN_Can330_Meal  Can330_Crown       1
3     2017-03-22 11:01:49  iVYmru  LBN_Can330_Meal  Can330_Crown       1
4     2017-03-24 10:42:01  9v25cn  LBN_Can185_Meal  Can185_Crown       1
5     2017-03-26 13:31:31  DXZpSF  LBN_Can185_Meal  Can185_Crown       1
6     2017-03-27 05:57:55  M2qe3T  LBN_Can330_Meal  Can330_Crown       1
7     2017-03-27 06:02:27  gUJhdW  LBN_Can330_Meal  Can330_Crown       1
8     2017-03-27 10:09:47  N6TOPh  LBN_Can185_Coke  Can185_Crown       1
9     2017-03-27 10:23:05  m9iirR  LBN_Can330_Meal  Can330_Crown       1
10    2017-03-28 07:08:25  TTnscg  LBN_Can330_Meal  Can330_Crown       1
11    2017-03-28 13:33:57  ayTf3T  LBN_Can330_Meal  Can330_Crown       1
12    2017-03-28 22:08:19  bwvRS7  LBN_Can330_Meal  Can330_Crown       1
13    2017-03-28 22:10:21  hmCFLD  LBN_Can330_Meal  Can330_Crown       1
14    2017-03-29 14:23:49  ZRbDKz  LBN_Can330_Meal  Can330_Crown       1
15    2017-03-30 08:38:47  9SWnDP  LBN_Can185_Meal  Can185_Crown       1
16    2017-03-30 12:52:49  S9uAhq  LBN_Can330_Meal  Can330_Crown       1
17    2017-03-30 21:08:44  4e461e  LBN_Can330_Meal  Can330_Crown       1
18    2017-03-31 08:59:06  2CBFD8  LBN_Can330_Meal  Can330_Crown       1
19    2017-03-31 13:25:43  K2XEmv  LBN_Can330_Meal  Can330_Crown       1
20    2017-03-31 20:58:31  7WPSWh  LBN_Can330_Meal  Can330_Crown       1
21    2017-04-01 01:55:53  i9eAzo  LBN_Can330_Coke  Can330_Crown       1
22    2017-04-01 11:43:17  XnmV3H  LBN_Can330_Coke  Can330_Crown       1
23    2017-04-01 12:18:35  GAsJ4H  LBN_Can330_Coke  Can330_Crown       1
24    2017-04-01 12:38:46  p6EN5h  LBN_Can330_Coke  Can330_Crown       1
25    2017-04-01 12:41:33  KcYw3k  LBN_Can185_Meal  Can185_Crown       1
26    2017-04-01 17:31:29  TtTBzl  LBN_Can330_Meal  Can330_Crown       1
27    2017-04-01 17:44:28  sd7G6C  LBN_Can330_Coke  Can330_Crown       1
28    2017-04-01 19:58:50  Xp8uxp  LBN_Can330_Coke  Can330_Crown       1
29    2017-04-01 22:42:39  izJc1u  LBN_Can330_Meal  Can330_Crown       1
...                   ...     ...              ...           ...     ...
39511 2017-05-01 15:37:01  SrTVmZ          Unknown       Unknown       0
39512 2017-05-25 10:30:35  LSdOk3          Unknown       Unknown       0
39513 2017-05-10 21:37:42  6bvJhn          Unknown       Unknown       0
39514 2017-05-14 10:08:10  ftErcC          Unknown       Unknown       0
39515 2017-04-06 17:08:09  M3NtVK          Unknown       Unknown       0
39516 2017-05-01 19:11:16  111899          Unknown       Unknown       0
39517 2017-04-11 04:59:52  SoZNfo          Unknown       Unknown       0
39518 2017-04-15 13:14:34  fH3HHn          Unknown       Unknown       0
39519 2017-05-27 20:57:13  W9XWRE          Unknown       Unknown       0
39520 2017-04-11 19:54:46  JmL3SD          Unknown       Unknown       0
39521 2017-04-08 13:40:28  K2UwLb          Unknown       Unknown       0
39522 2017-05-02 09:25:15  cZLq8o          Unknown       Unknown       0
39523 2017-05-10 20:13:21  Aady41          Unknown       Unknown       0
39524 2017-04-11 20:13:57  qzzLvT          Unknown       Unknown       0
39525 2017-05-29 07:36:30  9v5Ono          Unknown       Unknown       0
39526 2017-04-26 17:50:34  GMLWyx          Unknown       Unknown       0
39527 2017-04-12 19:35:39  sJn9tV          Unknown       Unknown       0
39528 2017-04-15 19:32:38  PAUUlr          Unknown       Unknown       0
39529 2017-05-24 17:07:13  Sq1hwY          Unknown       Unknown       0
39530 2017-05-16 05:17:26  BFSzZG          Unknown       Unknown       0
39531 2017-05-03 09:39:32  Kg8x5n          Unknown       Unknown       0
39532 2017-05-17 15:01:35  esmZ1N          Unknown       Unknown       0
39533 2017-05-08 19:52:57  gneKLw          Unknown       Unknown       0
39534 2017-04-22 22:22:45  7unrMw          Unknown       Unknown       0
39535 2017-04-25 04:26:48  56mDLL          Unknown       Unknown       0
39536 2017-04-23 09:55:22  76KFhe          Unknown       Unknown       0
39537 2017-06-18 21:24:18  BSileg          Unknown       Unknown       0
39538 2017-03-26 20:02:04  mW4bq1          Unknown       Unknown       0
39539 2017-05-23 18:20:38  t7wLSd          Unknown       Unknown       0
39540 2017-05-12 15:05:10  ZefvYr          Unknown       Unknown       0

           ResponseCode RequestType PinCode.1    CreateDateTimeUTC  \
0            Successful      REDEEM    18BkEg  2017-03-19 10:18:40
1            Successful      REDEEM    9fhYPN  2017-03-21 16:54:11
2            Successful      REDEEM    8ySRvA  2017-03-21 19:19:18
3            Successful      REDEEM    iVYmru  2017-03-22 11:02:01
4            Successful      REDEEM    9v25cn  2017-03-24 10:42:20
5            Successful      REDEEM    DXZpSF  2017-03-26 13:31:31
6            Successful      REDEEM    M2qe3T  2017-03-27 05:57:58
7            Successful      REDEEM    gUJhdW  2017-03-27 06:02:27
8            Successful      REDEEM    N6TOPh  2017-03-27 10:09:47
9            Successful      REDEEM    m9iirR  2017-03-27 10:23:02
10           Successful      REDEEM    TTnscg  2017-03-28 07:08:19
11           Successful      REDEEM    ayTf3T  2017-03-28 13:34:05
12           Successful      REDEEM    bwvRS7  2017-03-28 22:08:28
13           Successful      REDEEM    hmCFLD  2017-03-28 22:10:21
14           Successful      REDEEM    ZRbDKz  2017-03-29 14:24:01
15           Successful      REDEEM    9SWnDP  2017-03-30 08:38:32
16           Successful      REDEEM    S9uAhq  2017-03-30 12:53:04
17           Successful      REDEEM    4e461e  2017-03-30 21:08:27
18           Successful      REDEEM    2CBFD8  2017-03-31 08:59:25
19           Successful      REDEEM    K2XEmv  2017-03-31 13:25:44
20           Successful      REDEEM    7WPSWh  2017-03-31 20:58:11
21           Successful      REDEEM    i9eAzo  2017-04-01 01:55:53
22           Successful      REDEEM    XnmV3H  2017-04-01 11:43:17
23           Successful      REDEEM    GAsJ4H  2017-04-01 12:18:35
24           Successful      REDEEM    p6EN5h  2017-04-01 12:38:47
25           Successful      REDEEM    KcYw3k  2017-04-01 12:41:32
26           Successful      REDEEM    TtTBzl  2017-04-01 17:31:29
27           Successful      REDEEM    sd7G6C  2017-04-01 17:44:26
28           Successful      REDEEM    Xp8uxp  2017-04-01 19:58:53
29           Successful      REDEEM    izJc1u  2017-04-01 22:42:39
...                 ...         ...       ...                  ...
39511   Invalid Pincode      REDEEM   Unknown              Unknown
39512   Invalid Pincode      REDEEM   Unknown              Unknown
39513   Invalid Pincode      REDEEM   Unknown              Unknown
39514   Invalid Pincode      REDEEM   Unknown              Unknown
39515   Invalid Pincode      REDEEM   Unknown              Unknown
39516   Invalid Pincode      REDEEM   Unknown              Unknown
39517   Invalid Pincode      REDEEM   Unknown              Unknown
39518   Invalid Pincode      REDEEM   Unknown              Unknown
39519   Invalid Pincode      REDEEM   Unknown              Unknown
39520           Unknown      REDEEM   Unknown              Unknown
39521   Invalid Pincode      REDEEM   Unknown              Unknown
39522   Invalid Pincode      REDEEM   Unknown              Unknown
39523   Invalid Pincode      REDEEM   Unknown              Unknown
39524   Invalid Pincode      REDEEM   Unknown              Unknown
39525  Already Redeemed      REDEEM   Unknown              Unknown
39526   Invalid Pincode      REDEEM   Unknown              Unknown
39527   Invalid Pincode      REDEEM   Unknown              Unknown
39528   Invalid Pincode      REDEEM   Unknown              Unknown
39529   Invalid Pincode      REDEEM   Unknown              Unknown
39530   Invalid Pincode      REDEEM   Unknown              Unknown
39531   Invalid Pincode      REDEEM   Unknown              Unknown
39532   Invalid Pincode      REDEEM   Unknown              Unknown
39533   Invalid Pincode      REDEEM   Unknown              Unknown
39534   Invalid Pincode      REDEEM   Unknown              Unknown
39535   Invalid Pincode      REDEEM   Unknown              Unknown
39536   Invalid Pincode      REDEEM   Unknown              Unknown
39537   Invalid Pincode      REDEEM   Unknown              Unknown
39538   Invalid Pincode      REDEEM   Unknown              Unknown
39539   Invalid Pincode      REDEEM   Unknown              Unknown
39540   Invalid Pincode      REDEEM   Unknown              Unknown

      CountryCode   BirthDay                  City    year  month   age
0              LB 2001-05-21               Tripoli  2001.0    5.0  17.0
1              LB 1989-07-29              Antelias  1989.0    7.0  29.0
2              LB 1996-04-30                beirut  1996.0    4.0  22.0
3              LB 1998-01-01       syr al danniyeh  1998.0    1.0  20.0
4              LB 2002-02-02                Beirut  2002.0    2.0  16.0
5              LB 1998-06-23               chtaura  1998.0    6.0  20.0
6              LB 1981-08-15                beirut  1981.0    8.0  36.0
7              LB 1981-08-15                beirut  1981.0    8.0  36.0
8              LB 1990-04-09                Beirut  1990.0    4.0  28.0
9              LB 1991-05-05                Beirut  1991.0    5.0  27.0
10             LB 1983-02-07            NEW SHEILE  1983.0    2.0  35.0
11             LB 2002-02-17  Beirut/Mount Lebanon  2002.0    2.0  16.0
12             LB 1998-12-31               Beirut   1998.0   12.0  19.0
13             LB 1998-12-31               Beirut   1998.0   12.0  19.0
14             LB 1991-05-25                Beirut  1991.0    5.0  27.0
15             LB 1982-08-28                Baabda  1982.0    8.0  35.0
16             LB 1983-02-07            new sheile  1983.0    2.0  35.0
17             LB 1994-08-06               alkoura  1994.0    8.0  24.0
18             LB 1977-01-01              Tripoli   1977.0    1.0  41.0
19             LB 1995-10-24                 Koura  1995.0   10.0  22.0
20             LB 1966-05-02             New Rawda  1966.0    5.0  52.0
21             LB 1998-12-31               Beirut   1998.0   12.0  19.0
22             LB 1995-09-16                Beirut  1995.0    9.0  22.0
23             LB 1995-09-16                Beirut  1995.0    9.0  22.0
24             LB 1995-09-16                Beirut  1995.0    9.0  22.0
25             LB 1995-09-16                Beirut  1995.0    9.0  22.0
26             LB 1969-12-19                bierut  1969.0   12.0  48.0
27             LB 1983-02-07            new sheile  1983.0    2.0  35.0
28             LB 1986-07-10                 Saida  1986.0    7.0  32.0
29             LB 1987-04-19                Beirut  1987.0    4.0  31.0
...           ...        ...                   ...     ...    ...   ...
39511     Unknown        NaT               Unknown     NaN    NaN   NaN
39512     Unknown        NaT               Unknown     NaN    NaN   NaN
39513     Unknown        NaT               Unknown     NaN    NaN   NaN
39514     Unknown        NaT               Unknown     NaN    NaN   NaN
39515     Unknown        NaT               Unknown     NaN    NaN   NaN
39516     Unknown        NaT               Unknown     NaN    NaN   NaN
39517     Unknown        NaT               Unknown     NaN    NaN   NaN
39518     Unknown        NaT               Unknown     NaN    NaN   NaN
39519     Unknown        NaT               Unknown     NaN    NaN   NaN
39520     Unknown        NaT               Unknown     NaN    NaN   NaN
39521     Unknown        NaT               Unknown     NaN    NaN   NaN
39522     Unknown        NaT               Unknown     NaN    NaN   NaN
39523     Unknown        NaT               Unknown     NaN    NaN   NaN
39524     Unknown        NaT               Unknown     NaN    NaN   NaN
39525     Unknown        NaT               Unknown     NaN    NaN   NaN
39526     Unknown        NaT               Unknown     NaN    NaN   NaN
39527     Unknown        NaT               Unknown     NaN    NaN   NaN
39528     Unknown        NaT               Unknown     NaN    NaN   NaN
39529     Unknown        NaT               Unknown     NaN    NaN   NaN
39530     Unknown        NaT               Unknown     NaN    NaN   NaN
39531     Unknown        NaT               Unknown     NaN    NaN   NaN
39532     Unknown        NaT               Unknown     NaN    NaN   NaN
39533     Unknown        NaT               Unknown     NaN    NaN   NaN
39534     Unknown        NaT               Unknown     NaN    NaN   NaN
39535     Unknown        NaT               Unknown     NaN    NaN   NaN
39536     Unknown        NaT               Unknown     NaN    NaN   NaN
39537     Unknown        NaT               Unknown     NaN    NaN   NaN
39538     Unknown        NaT               Unknown     NaN    NaN   NaN
39539     Unknown        NaT               Unknown     NaN    NaN   NaN
39540     Unknown        NaT               Unknown     NaN    NaN   NaN

[39541 rows x 15 columns]

In [16]:
df2['CreateTimeUTC'] = pd.to_datetime(df2['CreateTimeUTC']).apply(lambda x:x.strftime('%m/%d/%Y'))

In [17]:
df2.tail()

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City,year,month,age
39536,04/23/2017,76KFhe,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39537,06/18/2017,BSileg,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39538,03/26/2017,mW4bq1,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39539,05/23/2017,t7wLSd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39540,05/12/2017,ZefvYr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN

In [18]:
df2.sort_values(by='CreateTimeUTC',ascending=False)

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City,year,month,age
36732,07/04/2017,bUGhYR,LBN_Can185_Meal,Can185_Crown,1,Successful,REDEEM,bUGhYR,2017-07-04 11:19:58,LB,1986-03-10,Achrafieh,1986.0,3.0,32.0
30169,06/30/2017,2AmxbW,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,2AmxbW,2017-06-30 13:39:58,LB,2003-04-02,saida,2003.0,4.0,15.0
26924,06/30/2017,BqAmLG,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,BqAmLG,2017-06-30 17:52:13,LB,2002-03-06,Sarafand,2002.0,3.0,16.0
38342,06/30/2017,85bmSA,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,85bmSA,2017-06-30 15:31:46,LB,1991-11-01,Akkar,1991.0,11.0,26.0
22416,06/30/2017,BqAmLG,Unknown,Unknown,0,Service request incomplete. Please retry.,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
12514,06/30/2017,HXVrGa,Unknown,Unknown,0,Already Redeemed,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
20846,06/30/2017,15XWL9,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
22604,06/30/2017,15XWL9,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
17293,06/30/2017,aOFNuu,Unknown,Unknown,0,Already Redeemed,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
8991,06/30/2017,FeMqsv,LBN_Can185_Meal,Can185_Crown,1,Successful,REDEEM,FeMqsv,2017-06-30 19:46:06,LB,1969-07-20,batroun,1969.0,7.0,49.0
28593,06/30/2017,KjV7cD,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
31836,06/30/2017,UH1AbR,LBN_Can185_Meal,Can185_Crown,1,Successful,REDEEM,UH1AbR,2017-06-30 19:52:19,LB,1969-07-20,batroun,1969.0,7.0,49.0
8990,06/30/2017,ZTWUq8,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,ZTWUq8,2017-06-30 19:43:55,LB,1969-07-20,batroun,1969.0,7.0,49.0
17142,06/30/2017,lA8VYP,LBN_Can330_Coke,Can330_Crown,1,Successful,REDEEM,lA8VYP,2017-06-30 11:26:32,LB,1989-11-28,Tyr,1989.0,11.0,28.0
32336,06/30/2017,ppl14d,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
20415,06/30/2017,VzBmrA,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,VzBmrA,2017-06-30 10:56:15,LB,2001-07-09,Beirut,2001.0,7.0,17.0
35404,06/30/2017,zTWUq8,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
5748,06/30/2017,Oe7Ac5,LBN_Can185_Meal,Can185_Crown,1,Successful,REDEEM,Oe7Ac5,2017-06-30 19:50:12,LB,1969-07-20,batroun,1969.0,7.0,49.0
33966,06/30/2017,VH1AbR,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
5747,06/30/2017,hotkVN,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,hotkVN,2017-06-30 11:15:45,LB,2001-07-09,Beirut,2001.0,7.0,17.0
851,06/30/2017,XdKqzK,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,XdKqzK,2017-06-30 10:59:43,LB,2001-07-09,Beirut,2001.0,7.0,17.0
12248,06/30/2017,mnt3dJ,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,mnt3dJ,2017-06-30 12:52:08,LB,1995-07-31,Dekwaneh,1995.0,7.0,23.0
12247,06/30/2017,A1w9cm,LBN_Can185_Meal,Can185_Crown,1,Successful,REDEEM,A1w9cm,2017-06-30 11:42:47,LB,1984-07-17,Zahleh,1984.0,7.0,34.0
38341,06/30/2017,npl14d,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,npl14d,2017-06-30 11:23:43,LB,1989-11-28,Tyr,1989.0,11.0,28.0
28577,06/30/2017,Us6owf,TEST_Can185_TEST,Test,1,Successful,REDEEM,Us6owf,2017-06-30 13:19:20,LB,1979-08-29,rfgbv,1979.0,8.0,38.0
13884,06/30/2017,8KnH2T,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,8KnH2T,2017-06-30 12:40:35,LB,1999-02-12,Montreal,1999.0,2.0,19.0
36781,06/30/2017,8Ke2SU,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
19006,06/30/2017,ZTWUq8,Unknown,Unknown,0,Already Redeemed,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
21980,06/30/2017,Z4UbRm,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,Z4UbRm,2017-06-30 09:33:35,LB,2002-08-31,Zahle,2002.0,8.0,15.0
21981,06/30/2017,4KDwrW,LBN_Can330_Meal,Can330_Crown,1,Successful,REDEEM,4KDwrW,2017-06-30 15:02:11,LB,1995-08-26,Beirut,1995.0,8.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,03/09/2017,deneme,Unknown,Unknown,0,Invalid Pincode,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
988,03/09/2017,1111rrr,Unknown,Unknown,0,System Error,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
2668,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
38723,03/09/2017,nNRUwD,TEST_Can185_Meal,Test_Meal,1,Successful,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
1016,03/09/2017,1111rrr,Unknown,Unknown,0,System Error,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
27372,03/09/2017,dfferd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
33630,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
33636,03/09/2017,nNRUwD,Release for accenture,anyLotName,1,Successful,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
14653,03/09/2017,1111rrr,Unknown,Unknown,0,System Error,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
32470,03/09/2017,nNRUwD,TEST_Can185_Meal,Test_Meal,1,Successful,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
24025,03/09/2017,1111rrr,Unknown,Unknown,0,System Error,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
12365,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
15713,03/09/2017,cvfvff,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
15947,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
25706,03/09/2017,1111rrr,Unknown,Unknown,0,System Error,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
16224,03/09/2017,fvff,Unknown,Unknown,0,Invalid Program Id,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
8128,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
17447,03/09/2017,nNRUwD,Release for accenture,anyLotName,1,Successful,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
17476,03/09/2017,fvff,Unknown,Unknown,0,Invalid Program Id,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
26941,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
7734,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
27087,03/09/2017,t65Nx2,TEST_Can185_Meal,Test_Meal,1,Successful,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
27430,03/09/2017,1111rrr,Unknown,Unknown,0,System Error,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
22243,03/09/2017,3wesdx,Unknown,Unknown,0,Invalid Pincode,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
6055,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
5828,03/09/2017,nNRUwD,Release for accenture,anyLotName,1,Successful,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
865,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
30683,03/09/2017,nNRUwD,Release for accenture,anyLotName,1,Successful,VALIDATE,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
19075,03/09/2017,gtrfgh,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
30391,03/09/2017,1111rrr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN

In [19]:
df2.tail()

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City,year,month,age
39536,04/23/2017,76KFhe,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39537,06/18/2017,BSileg,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39538,03/26/2017,mW4bq1,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39539,05/23/2017,t7wLSd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN
39540,05/12/2017,ZefvYr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN

In [20]:
df2.count()

CreateTimeUTC        39541
PinCode              39541
ReleaseName          39541
LotName              39541
Result               39541
ResponseCode         39541
RequestType          39541
PinCode.1            39541
CreateDateTimeUTC    39541
CountryCode          39541
BirthDay             20655
City                 39541
year                 20655
month                20655
age                  20655
dtype: int64

In [21]:
df3 = df2

In [22]:

#Adding more columns
df3['Market']='Lebanon'

In [23]:
#Adding more columns
df3['Promo_Mode']='Web'

In [24]:
df3.tail()

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City,year,month,age,Market,Promo_Mode
39536,04/23/2017,76KFhe,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39537,06/18/2017,BSileg,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39538,03/26/2017,mW4bq1,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39539,05/23/2017,t7wLSd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39540,05/12/2017,ZefvYr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web

In [25]:
new_df = df3[df3.City != 'Unknown']

In [26]:
df3.tail()

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City,year,month,age,Market,Promo_Mode
39536,04/23/2017,76KFhe,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39537,06/18/2017,BSileg,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39538,03/26/2017,mW4bq1,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39539,05/23/2017,t7wLSd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web
39540,05/12/2017,ZefvYr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,NaN,NaN,NaN,Lebanon,Web

In [28]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
imputer = imputer.fit(df3.iloc[:, 12:13])
df3.iloc[:, 12:13] = imputer.transform(df3.iloc[:, 12:13])

In [29]:
df3.tail()

,CreateTimeUTC,PinCode,ReleaseName,LotName,Result,ResponseCode,RequestType,PinCode.1,CreateDateTimeUTC,CountryCode,BirthDay,City,year,month,age,Market,Promo_Mode
39536,04/23/2017,76KFhe,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,1995.0,NaN,NaN,Lebanon,Web
39537,06/18/2017,BSileg,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,1995.0,NaN,NaN,Lebanon,Web
39538,03/26/2017,mW4bq1,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,1995.0,NaN,NaN,Lebanon,Web
39539,05/23/2017,t7wLSd,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,1995.0,NaN,NaN,Lebanon,Web
39540,05/12/2017,ZefvYr,Unknown,Unknown,0,Invalid Pincode,REDEEM,Unknown,Unknown,Unknown,NaT,Unknown,1995.0,NaN,NaN,Lebanon,Web

In [30]:

df4=pd.read_csv("C:/Users/o38528/Desktop/PromotionalROI/Ozan/Staging/GAClean/Lebanon-summer.csv")

In [31]:
df4.count()

ga_metrics_date              687
ga_web_property_id           687
resolves_to_url              687
ga_mediumsource              687
ga_country                   687
ga_device_category           687
ga_mobile_device_branding    440
ga_mobile_device_info          0
ga_sessions                  687
ga_users                     687
ga_total_events              687
ga_total_goal_completions    687
ga_new_users                 687
ga_bounces                   687
ga_page_views                687
ga_session_duration          687
ga_screen_views              444
dtype: int64

In [32]:
df5 = df4

In [33]:
#removed 'ga_entrances','ga_ad_content','ga_keyword' etc., with maximum null values
#df5.drop('ga_screen_views', axis=1)
df5.count()
#df5=df5.drop(df5.columns[[10,11,12]],axis=1)

ga_metrics_date              687
ga_web_property_id           687
resolves_to_url              687
ga_mediumsource              687
ga_country                   687
ga_device_category           687
ga_mobile_device_branding    440
ga_mobile_device_info          0
ga_sessions                  687
ga_users                     687
ga_total_events              687
ga_total_goal_completions    687
ga_new_users                 687
ga_bounces                   687
ga_page_views                687
ga_session_duration          687
ga_screen_views              444
dtype: int64

In [34]:
df5.sort_values(by='ga_metrics_date', inplace=True,ascending=False)

In [35]:
#creating a join column - Google Analytics data
df5.rename(columns={'ga_metrics_date':'Date'}, inplace=True)

In [36]:
#creating a join column - Promotional data
df3.rename(columns={'CreateTimeUTC':'Date'}, inplace=True)

In [37]:
df3['Date'] =  pd.to_datetime(df3['Date'], format='%m/%d/%Y')

In [38]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39541 entries, 0 to 39540
Data columns (total 17 columns):
Date                 39541 non-null datetime64[ns]
PinCode              39541 non-null object
ReleaseName          39541 non-null object
LotName              39541 non-null object
Result               39541 non-null int64
ResponseCode         39541 non-null object
RequestType          39541 non-null object
PinCode.1            39541 non-null object
CreateDateTimeUTC    39541 non-null object
CountryCode          39541 non-null object
BirthDay             20655 non-null datetime64[ns]
City                 39541 non-null object
year                 39541 non-null float64
month                20655 non-null float64
age                  20655 non-null float64
Market               39541 non-null object
Promo_Mode           39541 non-null object
dtypes: datetime64[ns](2), float64(3), int64(1), object(11)
memory usage: 5.1+ MB

In [ ]:
df7 = (pd.merge(df5, df3, on='Date'))

In [39]:
df5.tail()

,Date,ga_web_property_id,resolves_to_url,ga_mediumsource,ga_country,ga_device_category,ga_mobile_device_branding,ga_mobile_device_info,ga_sessions,ga_users,ga_total_events,ga_total_goal_completions,ga_new_users,ga_bounces,ga_page_views,ga_session_duration,ga_screen_views
616,3/16/2017 12:00:00 AM,UA-93263743-1,scholarship.coca-cola.com,youtube.com / referral,Lebanon,desktop,NaN,NaN,1,1,0,0,1,0,3,271,NaN
497,3/16/2017 12:00:00 AM,UA-89727644-1,coca-cola.sa/en/home,coca-cola.ae / referral,Lebanon,desktop,NaN,NaN,1,1,2,0,1,0,2,35,NaN
584,3/16/2017 12:00:00 AM,UA-93263743-1,scholarship.coca-cola.com,(direct) / (none),Lebanon,desktop,NaN,NaN,1,1,0,0,1,0,7,546,NaN
602,3/16/2017 12:00:00 AM,UA-93263743-1,scholarship.coca-cola.com,m.facebook.com / referral,Lebanon,mobile,Samsung,NaN,2,2,0,0,2,2,2,0,0.0
580,3/16/2017 12:00:00 AM,UA-93263743-1,scholarship.coca-cola.com,facebook.com / referral,Lebanon,desktop,NaN,NaN,1,1,0,0,0,0,2,22,NaN

In [40]:
df3.to_csv('Lebanon_summer_promo_clean.csv')

In [41]:
df5.to_csv('Lebanon_summer_GA_clean.csv')